exportPattern("^[[:alpha:]]+")
exportMethods(
    "addFile",
    "initialize",
    "loadStat",
    "run",
    "setParameter",
    "loadPheno",
    "loadGeno",
    "LoadStatRep",
    "LoadStatPatch"
)
exportClasses(
    "simulation" 
)
